.input__wrapper {
	position: relative;
	width: 100%;
	max-width: 352px;
	display: flex;
	align-items: center;
	gap: 16px;
	flex: 1 0 0;
	border-radius: 12px;
	border: 1px solid var(--Grey-700, #323b54);
	background: var(--Black-10, rgba(0, 0, 0, 0.1));
}

.input__wrapper input {
	height: 26px;
	padding: 15px 16px;
}

.input__wrapper .headline__action-input {
	height: 26px;
	padding: 15px 16px 15px 56px;
}

.input__wrapper-search-icon {
	pointer-events: none;
	position: absolute;
	left: 16px;
}

.headline__search-button::placeholder {
	color: #475069;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}
